{% extends "cryptapp/base.html" %}

{% block content %}

 <!-- Start Contact Section -->
        
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Contact With Us</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-social text-center">
                                <ul>
                                        <li><a href="https://www.facebook.com/aditi.thakur.16100" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/aditi_73" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://in.linkedin.com/pub/aditi-thakur/9a/84/306" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/aditi73" target="_blank"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://plus.google.com/u/0/100225110041523286243/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-contact-info">
                                <h4>Contact info</h4>
                                <ul>
                                    <li><strong>E-mail :</strong> crypt_app@gmail.com</li>
                                    <li><strong>Phone :</strong> +91-8982327040</li>
                                    <li><strong>Mobile :</strong> +91-9575999716</li>
                                    <li><strong>Web :</strong> </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="footer-social text-center">
                                <ul>
                                    <li><a href="https://www.facebook.com/kajol.maheshwari.1" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/maheshwarikajol" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/pub/kajol-maheshwari/21/859/530" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/kmaheshwari" target="_blank"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://plus.google.com/u/0/+KajolMaheshwari07/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                        
                    </div><!--/.row -->
                    <div class="row" style="padding-top: 80px;">
                        <div class="col-md-12">
                            <form action = "/contact/" id="ContactForm" method="POST">{% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{form.name}}
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            {{form.email}}
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            {{form.phone}}
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{form.message}}
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </form>
                            <br><br><br>
                        </div>
                    </div>
                </div>
                
            </div>
        
        <!-- End Contact Section -->
{% endblock content %}
       