{% extends "cryptapp/base.html" %}

{% block content %}       
        <!-- Start Logo Section -->
        <section id="logo-section" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                            <h1>DASHBOARD</h1>
                            <span>Cryptic Mining</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Logo Section -->
        
        
        <!-- Start Main Body Section -->
        <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-6">
                        
                        <div class="menu-item blue">
                            <a href="system_feature" data-toggle="modal">
                                <i class="fa fa-magic"></i>
                                <p>System's Feature </p>
                            </a>
                        </div>
                        
                        <div class="menu-item green">
                            <a href="issues" data-toggle="modal">
                                <i class="fa fa-file-photo-o"></i>
                                <p>Issues/Limitations</p>
                            </a>
                        </div>
                        
                        <div class="menu-item purple">
                            <a href="contact" data-toggle="modal">
                                <i class="fa fa-envelope-o"></i>
                                <p>Contact</p>
                            </a>
                        </div>
                        
                    </div>
             
                 <div class="col-md-6">
                        

                                <div class="menu-item color">
                                    <a href="system" data-toggle="modal">
                                        <i class="fa fa-area-chart"></i>
                                        <p>System</p>
                                    </a>
                                </div>
                            
                                <div class="menu-item light-red">
                                    <a href="about_us" data-toggle="modal">
                                        <i class="fa fa-users"></i>
                                        <p>About Us</p>
                                    </a>
                                </div>

				                <div class="menu-item light-orange">
                                    <a href="feedback" data-toggle="modal">
                                        <i class="fa fa-comment-o"></i>
                                        <p>Feedback</p>
                                    </a>
                                </div>
                                                        
                        </div>
                  
                    
		   
                    
                
          </div>
        </div>
        </div>
        <!-- End Main Body Section -->
        
        
        
        
        
        

{% endblock content %}        
 