{% extends "cryptapp/base.html" %}

{% block content %}
 
        <!-- Start Feature Section -->
        <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Our Awesome Features</h3>
                            <p>From cipher-text to plain-text..</p>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>
                        <h4><div class = "fa fa-pencil"></div>   A System to convert cipher-text to plain-text using English grammar rules.</h4>
                        <h4><div class = "fa fa-pencil"></div>   This system is implemented for substitution cipher as well as transposition cipher.</h4>
                        <h4><div class = "fa fa-pencil"></div>   The algorithm uses various knowledge sources(i.e English dictionary words) that are applied to the input cipher-text so as to obtain corresponding plain-text.</h4>
                        <h4><div class = "fa fa-pencil"></div>   Let us assume that the user has entered following cryptogram: “q azws dssc kas dxznn dasnn”.</h4>
                        <br>  
                            <img src = "">

                        </div>
                    </div>
                    </p>
                                    
                
         </div>   
        <!-- End Feature Section -->
               
{% endblock content %}          