 {% extends "cryptapp/base.html" %}

{% block content %}

 <!-- Start Contact Section -->
        <div class="section-modal">
            <div class="modal-content">
                <a href="/"><div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                </a>
                
                <div class="container">
                    <div class="row">
                    	<div class="col-md-offset-3 col-md-6 text-center ">
                        <div class="section-title text-center">
                            <h1>Thank You For Visiting!!</h1>
                            <br><br>
                            <h3>This project is open-source so you can contribute in any way you want.</h3>
                        </div>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>               
        </div>
        
        <!-- End Contact Section -->
{% endblock content %}
